/* style.css recipe version */
.body
{
    margin-left:45%;
    margin-right:45%;
}

.header
{
    text-align:center;
    border-color:blue;
    border:100px;
    background-color:goldenrod;
    margin-bottom:3em;
}
.pasta
{
    background-color:rgb(138, 63, 63);
    color:white;
    text-align:center;
    font-size:34px;
    
}

.salad
{
    background-color:lightgreen;
    text-align:center;
    color:rgb(255, 208, 0);
    font-size:36px;
}

.image
{
    width: 300px;
    height:auto;
}