/* style.css recipe version */

.header
{
    text-align:center;
    font-size:38px;
    border-style:groove;
    border-color:blue;
    border-width:10px;
    background-color:goldenrod;
    margin: 0 35% 75px 45%;
}
.pasta
{
    border-style:groove;
    border-color:bisque;
    border-width:15px;
    background-color:white;
    color:black;
    font-size:34px;
    margin-left:30%;
    padding: 10px;
    justify-content: center;
    
}

.salad
{
    border-style:groove;
    border-color:pink;
    border-width:15px;
    margin-left:40%;
    background-color:white;
    text-align:center;
    color:black;
    font-size:36px;
}

.image
{
    width: 300px;
    height:auto;
    margin: 50px;
    margin-left:35%;
    
}